* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.app {
  max-width: 900px;
  margin: 0 auto;
}

input {
  width: 70%;
}

ion-icon[name="close"] {
  cursor: pointer;
}

ion-icon[name="close"]:hover {
  color: red;
}

.card-body {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
