* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.outer {
  width: 100%;
  height: 100vh;
  background-color: #d5d5e7;
}

.app {
  max-width: 900px;
  margin: 0 auto;
  /* background-color: #444; */
}

input {
  width: 80%;
}

form {
  width: 890px;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

.card {
  margin-top: 12px;
  border: none;
  --bs-card-border-width: 0;
}

.card-body {
  width: 100%;
}

.task-content {
  /* background-color: pink; */
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btns-box {
  display: flex;
  align-items: center;
  gap: 4px;
}

code {
  font-size: 1.2em;
}

button {
  border: none;
  background: none;
  margin: 5px;
  padding: 0;
}

ion-icon {
  color: #6d6d6d;
}
ion-icon[name="close"] {
  cursor: pointer;
}

ion-icon[name="close"]:hover {
  color: #e40881;
}

ion-icon[name="create-outline"] {
  font-size: 24px;
  transform: translateY(-2px);
}
ion-icon[name="create-outline"]:hover {
  color: #8f8f8f;
}

/* dark */
.dark {
  background-color: #212063;
}

.dark h1,
.dark p {
  color: #d5d5e7;
}

.dark .card-body {
  background-color: #2a0e3a;
  color: #d5d5e7;
  border: 1px solid magenta;
}

@media (max-width: 726px) {
  .task-content {
    width: 600px;
  }
}
