* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

input {
  width: 70%;
}

.card-body {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
